/*  RIGHT SIDE
  ============================== */

/*  RESP
  ============================== */

.isTouch .right-side {
  display: flex;
  flex-direction: column;
  order: 0;
}

@media screen and (min-width: 1024px) {
  .right-side {
    justify-content: center;
    padding-left: 32px;
  }
}
